{% extends "base.html" %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/favoritepage.css' %}">
{% endblock %}


{% block page_content %}
<div class="container">
    <ul class="list-group">
      <div class="jumbotron">
        <h2><strong>Favorites</strong></h2>
        <p> Here are your favorite recipes!</p>

        <!-- Error/success messages here -->
        {% if messages %}
        {% for message in messages %}
          <br>
          {% if message.tags == "success" %}<p style="color: green">{{ message }}</p> {% endif %}
          {% if message.tags == "error" %}<script> alert("{{ message }}") </script> {% endif %}
        {% endfor %}
        {% endif %}
      </div>
   
      {% for post in favposts %}
      <li class="list-group-item">
        <div  class="row">
          {% if post.post_img %}
          <div class="media col-md-4">
            <figure>
                <img class="media-object img-rounded img-responsive" src="{{post.post_img}}">
                <span class="post-date">{{post.timestamp}}</span>
            </figure>
          </div>
          {% else %}
          <div class="media col-md-4">
            <figure>
                <img class="media-object img-rounded img-responsive" src="http://placehold.it/350x250">
                <span class="post-date">{{post.timestamp}}</span>
            </figure>
          </div>
          {% endif %}
          <div class="col-md-6">
            <h4><strong>{{ post.title }} </strong></h4>
            <p class="list-group-item-text"><strong>{{post.user}}</strong> </p>
            <p class="list-group-item-text"> {{post.short_content}}</p>
          </div>
          <div class="col-md-2">
            <div class="btn-group-vertical">
              <a href="{% url 'detail' pk=post.pk %}" class="btn btn-primary">View More</a>
              <form class="btn btn-primary" method="POST" action="{% url 'deletefavorite' post.pk %}">
                {% csrf_token %}
                <input class="button-submit" type="submit" value="Remove" />
              </form>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}


{% block head_javascript %}
<script src="{% static '/js/favorite.js' %}"></script>
{% endblock %}