{% extends "base.html" %}
{% load static %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/password_reset_confirm.css' %}">
{% endblock %}
{% block page_content %}
{% load crispy_forms_tags %}
<!-- ref: (password reset tutorial):https://learndjango.com/tutorials/django-password-reset-tutorial -->
<div class="container mx-auto p-5">
    <div class="d-flex flex-lg-row flex-column-reverse">
        <div class="row justify-content-center m-auto">
            <div class="col-md-12 my-5">
                <h2 class="font-weight-bold mt-3">Reset Your Password</h2>
                <hr>
                <p>Please enter your new password.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="resetPasswordBtn" class="btn-block btn-color" type="submit">Reset
                        Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}