{% extends "base.html" %}
{% load static %}
{% block head_css %}
{% endblock %}
{% block page_content %}
<!-- ref: (password reset tutorial):https://learndjango.com/tutorials/django-password-reset-tutorial -->
<div class="container mx-auto p-5">
    <div class="d-flex flex-lg-row flex-column-reverse">
        <div class="row justify-content-center m-auto">
            <div class="col-md-8 my-5 mx-auto">
                <h3 class="font-weight-bold mt-3 text-center">Hi {{ user }}, Please check your mailbox.</h3>
                <hr>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you
                    entered. You
                    should receive them shortly.<br>If you don't receive an email, please make sure you've entered the
                    address you
                    registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}