{% extends "base.html" %}
{% load static %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/password_reset.css' %}">
{% endblock %}
{% block page_content %}
<!-- ref: (password reset tutorial):https://learndjango.com/tutorials/django-password-reset-tutorial -->
<div class="container">
    <div class="d-flex flex-lg-row flex-column-reverse">
        <div class="row justify-content-center m-auto">
            <div class="col-md-12 my-5">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <br>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            {% load crispy_forms_tags %}
                            <div class="panel-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input required id="{{ field.id }}" autocomplete="email" name="email"
                                            placeholder="email" type="email" maxlength="254"
                                            class="{{ field.class }} form-control">
                                    </div>
                                    {% if messages %}
                                    {% for error in messages %}
                                    <br>
                                    <div>
                                        <small style="color: red">{{ error }}</small>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    <button id="sendEmailBtn" class="btn-block btn-color" type="submit">Send
                                        email</button>
                                </form>
                                <div class="bottomText text-center mb-5 mt-5">
                                    <p class="sm-text mx-auto mb-3">Don't have an account?<a id="signupBtn"
                                            href="{% url 'signup' %}" class="btn btn-white ml-2">Sign Up Now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block head_javascript %}
{% endblock %}