.row{
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .list-group-item{
    border: 1px solid  rgba(8, 105, 196, 0.671);
    border-radius: 0!important;
    transition: box-shadow 0.5s;
    background-color: rgb(173, 202, 230);
    opacity: 0.9;
  }

  .list-group-item:hover{
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.671);
  }

  body {
    background: url("/static/assets/post_recipe_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
  }
  
  figure{
    object-position: center;
  }
  
  img.media-object{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 350px;
    height: Auto;
    margin-bottom: 20px;;
  }
  
  .list-group-head{
    color: #fff!important;
    background-color: lightskyblue!important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  
  h2 {
    font-size: 24px;
    text-transform: capitalize;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  p{
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .col-md-6.h4 {
    font-size: 25px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 
  
  .well{
    background-color: lightskyblue;
  }
  
  .jumbotron{
    color: #fff!important;
    background-color: lightskyblue!important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  span.post-date {
    position: absolute;
    background: #337ab7;
    top: 35px;
    left: 5px;
    color: #fff;
    border-radius: 0 25px 25px 0;
    padding: 5px 15px;
    font-weight: 700;
  }
  
  .container-fluid{
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border: 1px solid  rgba(8, 105, 196, 0.671);
    border-radius: 0!important;
    transition: box-shadow 0.5s;
  }
  
  .container-fluid:hover{
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.671);
  }
  
  .bg-1{
    background-color:  rgb(49, 150, 212);
    color:#ffffff;
    text-align: center;
  }
  
  .bg-2{
    background-color: #b8dfff;
    color:#ffffff;
  }

  .bg-1-content {
      text-align: center;
  }

  #category-tag {
    text-align: left;
    font-size: 16px;
  }

  .fav-btn {
    background: #007bff; /* changin colour of the button */
    border: none;
    padding: 0;
    color: white;
  }
  
  