/* ref (password reset page css idea taking from ):https://bootsnipp.com/snippets/kEr93 */

span{
	font-size:14px;
}

input:focus{
    border: 1px solid #05ff58 !important;
    box-shadow: none !important;
}
input{
    border-radius: 3px;
    border: 1px solid #dbf8dbfd !important;
}


#sendEmailBtn{
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.7;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    margin-top: 40px

  }

  #sendEmailBtn:hover{
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
  }

#signupBtn{
    color: #00bf72;
}

#signupBtn:hover {
    text-decoration: underline;
}